/*----------------------------------------
              HEADER
----------------------------------------*/
.container-headerhome {
  width: 100%;
  background-color: #191919;

  .headerhome {
    min-height: 50vh;
    padding: 100px 20px 80px 20px;
    background: url('src/assets/img/home/mobile/image-header.jpg') center center /
      cover no-repeat;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    &_container {
      max-width: 380px;
    }
  }
}

/*----------------------------------------
              SPEAKER ZX9
----------------------------------------*/
.speaker-zx9 {
  background: url('src/assets/img/home/desktop/pattern-circles.svg') center -138px /
    625px no-repeat;
  text-align: center;
  width: 100%;
  background-color: #d87d4a;
  border-radius: 8px;
  padding-bottom: 55px;

  &--img {
    width: 172px;
    margin: 60px 0 50px 0;
  }

  &--body {
    max-width: 350px;
    margin: 24px auto 24px auto;
  }
}

/*----------------------------------------
              SPEAKER ZX7
----------------------------------------*/
.speaker-zx7 {
  width: 100%;
  height: 320px;
  padding: 100px 0 100px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 8px;
  background: url('src/assets/img/home/mobile/image-speaker-zx7.jpg') center
    center / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

/*-----------------------------
       MEDIA QUERRIES
-------------------------------*/

/*------------------
  TABLETTE
-------------------*/
@media screen and (min-width: 768px) {
  // HEADER
  .container-headerhome {
    .headerhome {
      background-image: url('src/assets/img/home/tablet/image-header.jpg');
    }
  }

  // SPEAKER-ZX9
  .speaker-zx9 {
    background: url('src/assets/img/home/desktop/pattern-circles.svg') center -274px /
      854px no-repeat;
    background-color: #d87d4a;
  }

  // SPEAKER-ZX
  .speaker-zx7 {
    padding-left: 60px;
    background: url('src/assets/img/home/tablet/image-speaker-zx7.jpg') center
      center / cover no-repeat;
  }
}

/*------------------
  DESKTOP
-------------------*/
@media screen and (min-width: 1124px) {
  .container-headerhome {
    .headerhome {
      padding: 150px 20px 150px 20px;
      background: url('src/assets/img/home/desktop/image-hero.jpg') no-repeat;
      background-position: left 20% center;
      background-size: 100%;
      text-align: left;
      justify-content: flex-start;
    }
  }
  // SPEAKER-ZX9
  .speaker-zx9 {
    background: url('src/assets/img/home/desktop/pattern-circles.svg') -144px -34px /
      960px no-repeat;
    background-color: #d87d4a;

    padding: 114px 0 0 0;
    display: flex;
    align-items: center;
    text-align: left;
    overflow: hidden;

    &--img {
      width: 371px;
      margin: 0;
      position: relative;
      left: 150px;
      top: 20px;
    }

    &--body {
      max-width: 350px;
      margin: 24px 0 24px 0;
    }
  }
  .speaker-zx9 > div {
    width: 50%;
  }
  .speaker-zx9 div:nth-child(even) {
    padding-left: 114px;
  }

  // SPEAKER ZX7
  .speaker-zx7 {
    background: url('src/assets/img/home/desktop/image-speaker-zx7.jpg') center
      center / cover no-repeat;
  }
}
