.container-navbar {
  width: 100%;
  background-color: #191919;

  .navbar {
    height: 90px;
    padding: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #2c2c2c;

    .nav {
      width: 500px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
