.container-navbar {
  width: 100%;
  background-color: #191919;

  .navbar {
    height: 90px;
    padding: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #2c2c2c;

    .nav {
      width: 500px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-link {
        color: #fff;
      }
      &-link:hover {
        color: #d87d4a;
      }
      &-link--active {
        color: #d87d4a;
      }

      &_close-button {
        border: none;
        background-color: transparent;
        position: absolute;
        top: 5%;
        right: 10%;
        color: #fff;
      }
    }

    &_button-cart {
      position: relative;
      background-color: transparent;
      border: none;
      display: block;
      border-radius: 50%;
      z-index: 1;

      &--number-article {
        background-color: #d87d4a;
        position: absolute;
        top: -10px;
        right: -8px;
        color: #000;
        font-weight: 700;
        display: block;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        z-index: 2;
      }
    }

    /*------------------------------
    RESPONSIVE MENU
----------------------------*/
    .desktop {
      display: none;
    }

    .responsive-menu {
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      top: 0;

      display: flex;
      height: 100vh;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: #191919;
      z-index: 10;
    }

    .entrance {
      animation: entrance 0.3s ease-out;
    }

    @keyframes entrance {
      from {
        width: 0%;
      }
      to {
        width: 100%;
      }
    }
  }
}
